<!--Here in the id part we have made it dynamic so we can enter any number as of now <h1>Hello Movie {{id}}</h1> -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>blah blah</title>
  {% endif %} {% extends 'base.html' %} {% import 'macros.html' as macro %}
</head>

<body>
  {% block content %}

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath">
        <img src="{{movie.poster}}" alt="{{movie.title}}">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
        <h3>{{movie.title}}</h3>
        <p class="overview">{{movie.overview}}</p>
        <p class="ratings"><b>{{movie.vote_average}}</b> - <i>{{movie.vote_count}} votes</i></p>
        <a class="ratings" href="/movie/review/new/{{movie.id}}">Write a new review for {{movie.id}}</a>
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>
  {% endblock %}
</body>

</html>
